@import "scss/bootstrap";
@font-face {
  font-family: iransans;
  src: url(sources/fonts/FontsFree-Net-ir_sans.ttf);
}
$purple: rgba(69, 0, 58, 0.9);
$light-green: rgb(82, 211, 170);
$light-blue: rgb(63, 149, 234);
$header-text: rgb(255, 255, 255);
$body-text: rgb(115, 115, 115);
$light-purple: rgb(128, 0, 128);
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-size: 1.9rem;
  box-sizing: border-box;
  direction: rtl;
  font-family: iransans;
  color: $body-text;
}
h1 {
  font-weight: 500;
}
h2{
  font-weight: 500;
}
h3 {
  font-weight: 600;
}
p {
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 3rem;
}
.header-bg {
  background-image: url(sources/full_image_2.jpg);
  background-size: cover;
  position: relative;
  overflow: hidden;
  nav {
    z-index: 1000;
    
    a {
      color: $header-text;
    }
    .logo {
      height: 30px;
      @media (min-width: map-get($grid-breakpoints, "md")) {
        height: 40px;
      }
      @media (min-width: map-get($grid-breakpoints, "md")) {
        height: 50px;
      }
    }
    .menu-icon{
      font-size: 3rem;
      @media (min-width: map-get($grid-breakpoints, "md")) {
        font-size: 5rem;
      }
    }
  }
  .nav-bg-white {
    background-color: $header-text;
    transition: all 0.2s ease-in;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    a {
      color: $body-text;
    }
  }
  .header-text {
    padding: 22rem 0;
    text-align: center;
    z-index: 990;
    position: relative;
    color: $header-text;
  }
}
.header-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-image: linear-gradient(
    to bottom right,
    rgba(41, 0, 41, 0.9) 20%,
    rgba(69, 0, 58, 0.9),
    rgba(94, 4, 30, 0.7)
  );
}
.header-bg::after {
  content: "";
  width: 101%;
  height: 70px;
  transform: rotate(-1.7deg);
  position: absolute;
  top: 95%;
  left: 0;
  z-index: 993;
  background-color: #ffffff;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.cards-container {
  position: relative;
  z-index: 995;
  margin-top: -15rem;
  .cards {
    background-color: #ffffff;
    padding: 4rem;
    text-align: center;
    box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
    padding: 4rem;
    .cards-body {
      .cards-icon {
        color: $purple;
        margin-bottom: 5rem;
      }
      .cards-button {
        border: 2px solid $purple;
        border-radius: 0.5rem;
        padding: 1rem 2rem;
        background-color: $purple;
        transition: background-color 0.2s ease-in-out;
        width: 13rem;
        a {
          color: $header-text;
          font-size: 1.5rem;
          font-weight: 100;
          transition: color 0.2s ease-in-out;
        }
      }
      .cards-button:hover {
        background-color: $header-text;
        a {
          color: $purple;
        }
      }
    }
  }
}
.contact-container {
  margin-top: 6rem;
  margin-bottom: 6rem;
  .contact {
    text-align: center;
    .contact-h {
      padding-bottom: 20px;
    }
    a {
      color: $purple;
    }
  }
}
.contact-line::before {
  content: "";
  width: 80px;
  height: 2px;
  background-color: $purple;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -40px;
}
.footer-container {
  text-align: center;
  margin-bottom: 5rem;
  .gotop {
    color: $purple;
    margin: 5rem 0;
  }
  .footer-icon {
    color: $header-text;
    transition: color 0.2s ease-in-out;
    display: inline-block;
    background-color: $purple;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
  }
  .footer-icon:hover {
    color: $light-purple;
  }
  p {
    margin: 5rem 0 1rem 0;
  }
}
